{% extends "base.html" %}

{% block header %}
<h1>{% block title %}{{ window.name }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<div>
    <form method="post">
        {% for head in heads %}
        <label for="{{ head }}">{{ heads[head] }}</label>
        <input name="{{ head }}" id="{{ head }}" value="{{ window[head] }}">
        {% endfor %}
        <input type="submit" value="Aceptar">
    </form>
    <hr>
    <form action="{{ url_for('window.delete', window_id=window.id) }}" method="post">
        <input class="danger" type="submit" value="Eliminar" onclick="return confirm('Estás Seguro?');">
    </form>
</div>
{% endblock %}