{% extends "base.html" %}

{% block header %}
<h1>{% block title %}Registro{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="auth">
    <form method="post">
        {% for head in heads %}
        <input name="{{ head }}" id="{{ head }}" placeholder="{{ heads[head] }}...">
        {% endfor %}
        <a href="{{ url_for('auth.login') }}">
            Ya tienes una cuenta? Has click aquí
        </a>
        <input type="submit" value="Registrate Ahora">
    </form>
</div>
{% endblock %}
