{% for key in autocomplete.customer.data %}
<datalist id="customer-{{ key }}">
    {% for value in autocomplete.customer.data[key] %}
    <option>{{ value }}</option>
    {% endfor %}
</datalist>
{% endfor %}

<table>
    <tr>
        {% for head in customer_heads %}
        <th>
            {{ customer_heads[head] }}
        </th>
        {% endfor %}
    </tr>
    <tr>
        {% for head in customer_heads %}
        <td style="height: 3em;">
            <input name="{{ head }}" id="{{ head }}" value="{{ form[head] }}" 
                placeholder="{{ customer_placeholders[head] }}" list="customer-{{ head }}">
        </td>
        {% endfor %}
    </tr>
</table>