<datalist id="customer-names">
    {% for name in customer_names %}
    <option>{{ name }}</option>
    {% endfor %}
</datalist>
<datalist id="customer-emails">
    {% for email in customer_emails %}
    <option>{{ email }}</option>
    {% endfor %}
</datalist>
<datalist id="customer-addresss">
    {% for address in customer_addresses %}
    <option>{{ address }}</option>
    {% endfor %}
</datalist>
<datalist id="customer-phones">
    {% for phone in customer_phones %}
    <option>{{ phone }}</option>
    {% endfor %}
</datalist>

<table>
    <tr>
        {% for head in customer_heads %}
        <th>
            {{ customer_heads[head] }}
        </th>
        {% endfor %}
    </tr>
    <tr>
        {% for head in customer_heads %}
        <td style="height: 3em;">
            <input name="{{ head }}" id="{{ head }}" value="{{ form[head] }}" 
                placeholder="{{ customer_placeholders[head] }}" list="customer-{{ head }}s">
        </td>
        {% endfor %}
    </tr>
</table>