<datalist id="autocomplete">
    {% for data in autocomplete_data %}
    <option>{{ data }}</option>
    {% endfor %}
</datalist>

<table>
    <tr>
        {% for head in customer_heads %}
        <th>
            {{ customer_heads[head] }}
        </th>
        {% endfor %}
    </tr>
    <tr>
        {% for head in customer_heads %}
        <td style="height: 3em;">
            <input name="{{ head }}" id="{{ head }}" value="{{ form[head] }}" 
                list="autocomplete">
        </td>
        {% endfor %}
    </tr>
</table>