<datalist id="autocomplete">
    {% for data in autocomplete_data %}
    <option>{{ data }}</option>
    {% endfor %}
</datalist>

<form method="post" autocomplete="off">
    <table class="search_bar">
        <tr>
            <td>
                <input name="search_term" id="search_term"
                    placeholder="{{ placeholder }}" list="autocomplete">
            </td>
            <td>
                <button type="submit"><i class="fa fa-search"></i></button>
            </td>
        </tr>
    </table>
</form>