<table class="customer">
    <tr>
        {% for head in customer_heads %}
        <th>
            {{ customer_heads[head] }}
        </th>
        {% endfor %}
    </tr>
    <tr>
        {% for head in customer_heads %}
        <td style="height: 3em;">
            {% if quote.done %}
            {{ quote.author[head] }}
            {% else %}
            {% if head == "name" %}
            <input name="customer_name" id="customer_name" value="{{ quote.author[head] }}">
            {% else %}
            <input name="{{ head }}" id="{{ head }}" value="{{ quote.author[head] }}">
            {% endif %}
            {% endif %}
        </td>
        {% endfor %}
    </tr>
</table>