{% for key in quote.request.autocomplete_data %}
<datalist id="autocomplete-{{ key }}">
    {% for data in quote.request.autocomplete_data[key] %}
    <option>{{ data }}</option>
    {% endfor %}
</datalist>
{% endfor %}

<p style="text-align: justify;">
    {% for key in product_keys %}
    {% if product %}
    {{ product_keys[key][0] }}<br>
    {% if key == "medidas" %}
    <input name="{{ product.unique_keys[key] }}" id="{{ product.unique_keys[key] }}"
        placeholder="{{ product_keys[key][1] }}" value="{{ product[key] }}" 
        {% if quote.focused_product_id==product.id %}autofocus{%endif %}>
    {% else %}
    <input name="{{ product.unique_keys[key] }}" id="{{ product.unique_keys[key] }}"
        placeholder="{{ product_keys[key][1] }}" value="{{ product[key] }}" list="autocomplete-{{ key }}s">
    {% endif %}
    {% else %}
    {% if key != "medidas" %}
    {{ product_keys[key][0] }}<br>
    <input name="{{ key }}" id="{{ key }}" placeholder="{{ product_keys[key][1] }}"
        value="{{ quote.request.new_product[key] }}" list="autocomplete-{{ key }}s" 
        {% if quote.focused_product_id==0 %}autofocus{% endif %}>
    {% endif %}
    {% endif %}
    <br>
    {% endfor %}
</p>