<table>
    {% for head in products_heads %}
    <th>
        {{ products_heads[head] }}
    </th>
    {% endfor %}
    {% for product in quote.products %}
    <tr>
        {% for head in products_heads %}
        {% if head == "description" %}
        <td class="description">
            {% include "quote/description.html" %}
        </td>
        {% else %}
        <td>
            {{ head }}
        </td>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
    <tr>
        {% for head in products_heads %}
        {% if head == "description" %}
        <td class="description">
            {% include "quote/description.html" %}
        </td>
        {% else %}
        <td></td>
        {% endif %}
        {% endfor %}
    </tr>
</table>