{% for product in quote.products %}
<tr>
    {% for head in product_heads %}
    {% if head == "description" %}
    <td class="description">
        {% if not done %}
        {% include "quote/description_edit.html" %}
        {% else %}
        {% include "quote/description_done.html" %}
        {% endif %}
    </td>
    {% elif head == "unit_price" %}
    <td class="unit_price">
        {% if not done %}
        <input name="{{ product.unique_keys[head] }}" id="{{ product.unique_keys[head] }}"
            value="{{ product[head] }}">
        {% else %}
        {{ format_price(product[head]) }}
        {% endif %}
    </td>
    {% elif head == "cantidad" and not done %}
    <td class="cantidad">
        <input name="{{ product.unique_keys[head] }}" id="{{ product.unique_keys[head] }}"
            value="{{ product.cantidad }}">
    </td>
    {% elif head == "diseño" %}
    <td class="diseño">
        {% include "quote/diseño.html" %}
    </td>
    {% elif head == "total" %}
    <td class="total">
        {{ format_price(product[head]) }}
    </td>
    {% else %}
    <td>
        {{ product[head] }}
    </td>
    {% endif %}
    {% endfor %}
</tr>
{% endfor %}
{% if not done %}
<tr>
    {% for head in product_heads %}
    {% if head == "description" %}
    <td class="description">
        <p>
            {% include "quote/description_edit.html" %}
        </p>
    </td>
    {% else %}
    <td></td>
    {% endif %}
    {% endfor %}
</tr>
{% endif %}