{% if not done %}
{% for key in quote.autocomplete_data %}
<datalist id="autocomplete-{{ key }}">
    {% for data in quote.autocomplete_data[key] %}
    <option>{{ data }}</option>
    {% endfor %}
</datalist>
{% endfor %}
{% endif %}

<table>
    <thead>
        {% for head in product_heads %}
        <th>
            {{ product_heads[head] }}
        </th>
        {% endfor %}
    </thead>
    <tbody>
        {% include "quote/products_body.html" %}
    </tbody>
    <tfoot>
        {% include "quote/products_foot.html" %}
    </tfoot>
</table>