{% extends "base.html" %}

{% block header %}
<h1>{%block title %}Clientes{% endblock %}</h1>
<a style="text-decoration: none;" href="{{ url_for('customer.add') }}">
    <h1>Registrar Cliente</h1>
</a>
{% endblock %}

{% block content %}
<div style="margin-left: 10%; margin-right: 10%;">
    <table>
        <tr>
            {% for head in heads %}
            <th>{{ heads[head] }}</th>
            {% endfor %}
        </tr>
        {% for customer in customers %}
        <tr>
            {% for head in heads %}
            <td>
                {% if head == "name" %}
                <a href="{{ url_for('customer.update', customer_id=customer.id) }}">
                    {{ customer[head] }}
                </a>
                {% else %}
                {{ customer[head] }}
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}