{% extends "base.html" %}

{% block header %}
<h1>{%block title %}Clientes{% endblock %}</h1>
<a href="{{ url_for('customer.add') }}">
    <h1>Registrar Cliente</h1>
</a>
{% endblock %}

{% block content %}
<datalist id="autocomplete">
    {% for data in autocomplete_data %}
    <option>{{ data }}</option>
    {% endfor %}
</datalist>
<div>
    <form method="post" autocomplete="off">
        <table class="search_bar">
            <tr>
                <td>
                    <input name="search_term" id="search_term"
                        placeholder="{{ placeholder }}" list="autocomplete">
                </td>
                <td>
                    <input type="submit" value="Aceptar">
                </td>
            </tr>
        </table>
    </form>
</div>
<div>
    <table style="border-collapse: collapse; text-align: center;">
        <tr>
            {% for head in heads %}
            <th>{{ heads[head] }}</th>
            {% endfor %}
        </tr>
        {% for customer in customers %}
        <tr>
            {% for head in heads %}
            <td style="border-bottom: 1px solid black; padding: 1rem;">
                {% if head == "name" %}
                <a href="{{ url_for('customer.profile', customer_id=customer.id) }}">
                    {{ customer[head] }}
                </a>
                {% else %}
                {{ customer[head] }}
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}