{% extends "base.html" %}

{% block header %}
<h1>{%block title %}Productos{% endblock %}</h1>
<a style="text-decoration: none;" href="{{ url_for('product.add') }}">
    <h1>Añadir Producto</h1>
</a>
{% endblock %}

{% block content %}
<div style="margin-left: 10%; margin-right: 10%;">
    <table>
        <tr>
            {% for head in heads %}
            <th>{{ heads[head] }}</th>
            {% endfor %}
        </tr>
        {% for product in products %}
        <tr>
            {% for head in heads %}
            <td>
                {% if head == "name" %}
                <a href="{{ url_for('product.update', product_id=product.id) }}">
                    {{ product[head] }}
                </a>
                {% else %}
                {{ product[head] }}
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}