<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Glastore</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<nav>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Ventanas</a></li>
        <li><a href="{{ url_for('customer.customers') }}">Clientes</a></li>
        <li style="float: right;"><a href="#">About</a></li>
    </ul>
</nav>
<header>
    {% block header %}{% endblock %}
</header>
<section>
    {% block content %}{% endblock %}
</section>
</html>
