<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Glastore</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<nav>
    <div>
        <a href="{{ url_for('home.home') }}">Home</a>
        <a href="{{ url_for('customer.customers') }}">Clientes</a>
        <a href="{{ url_for('quote.add') }}">Cotización</a>
    </div>
    <div style="float: right;">
        {% if g.user %}
        <a href="{{ url_for('auth.logout') }}">Log Out</a>
        {% else %}
        <a href="{{ url_for('auth.register') }}">Register</a>
        <a href="{{ url_for('auth.login') }}">Login</a>
        {% endif %}
    </div>
</nav>
<header>
    {% block header %}{% endblock %}
</header>
{% if g.user %}
<div>
    {% include "sidebar/sidebar.html" %}
</div>
{% endif %}
<section>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>

</html>