<datalist id="autocomplete-search-bar">
    {% for value in autocomplete.customer.search_bar %}
    <option>{{ value }}</option>
    {% endfor %}
</datalist>

<form action="{{ url_for('home.sidebar') }}" autocomplete="off">
    <table class="search_bar">
        <tr>
            <td>
                <input name="sidebar-search-term" id="sidebar-search-term"
                    placeholder="Busca aquí..." list="autocomplete-search-bar">
            </td>
            <td>
                <button type="submit"><i class="fa fa-search"></i></button>
            </td>
        </tr>
    </table>
</form>