body {
    max-width: 21.6cm;
    background: white;
    margin: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
section {
    margin-top: 1em;
}
div {
    margin-top: 1em;
}
.flash {
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table, tr, td {
    border: 1px solid black;
    padding: 2px;
}
td.description {
    width: 45%;
}
.description input {
    width: 14vw;
}
td.image {
    width: 65%;
}
input[type=submit] {
    align-self: start;
    min-width: 10em;
}
